node_modules/
web/dist/
web/.vite/
server/dist/
*.tsbuildinfo
npm-debug.log*
pnpm-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
**/prisma/*.db
**/prisma/*.db-journal
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
server/.env
streamer/.env
